/* You can add global styles to this file, and also import other style files */

h1, h4 {
  text-align: center;
  margin-top: 40px;

  max-width: 90%;
  padding-left: 10%;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

